.custom-card {
  --tt-card-position: absolute;
  --tt-card-top: 50px;
  --tt-card-right: 50px;
}

.top-right-dialog {
  --tt-dialog-position: fixed;
  --tt-dialog-top: 24px;
  --tt-dialog-right: 24px;
}

.skeleton-demo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px;
}
