APP_ENV=development
APP_PORT=8000

DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME
DB_SSL_MODE=YOUR_DB_SSL_MODE
DB_MAX_OPEN_CONNS=YOUR_DB_MAX_OPEN_CONNS
DB_MAX_IDLE_CONNS=YOUR_DB_MAX_IDLE_CONNS
DB_CONN_MAX_LIFETIME=YOUR_DB_CONN_MAX_LIFETIME

CSRF_TOKEN_COOKIE_NAME=YOUR_CSRF_TOKEN_COOKIE_NAME
CSRF_TOKEN_HEADER_NAME=YOUR_CSRF_TOKEN_HEADER_NAME

KEYCLOAK_CLIENT_ID=YOUR_KEYCLOAK_CLIENT_ID
KEYCLOAK_CLIENT_SECRET=YOUR_KEYCLOAK_CLIENT_SECRET

LOG_DIR=../logs