APP_ENV=development
APP_PORT=8080

DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME
DB_SSL_MODE=YOUR_DB_SSL_MODE
DB_MAX_OPEN_CONNS=YOUR_DB_MAX_OPEN_CONNS
DB_MAX_IDLE_CONNS=YOUR_DB_MAX_IDLE_CONNS
DB_CONN_MAX_LIFETIME=YOUR_DB_CONN_MAX_LIFETIME

ACCESS_TOKEN_COOKIE_NAME=YOUR_ACCESS_TOKEN_COOKIE_NAME
REFRESH_TOKEN_COOKIE_NAME=YOUR_REFRESH_TOKEN_COOKIE_NAME
CSRF_TOKEN_COOKIE_NAME=YOUR_CSRF_TOKEN_COOKIE_NAME
CSRF_TOKEN_HEADER_NAME=YOUR_CSRF_TOKEN_HEADER_NAME

JWT_ISSUER=YOUR_JWT_ISSUER
JWT_AUDIENCE=YOUR_JWT_AUDIENCE1,YOUR_JWT_AUDIENCE2
JWT_ACCESS_TOKEN_SECRET=YOUR_JWT_ACCESS_TOKEN_SECRET
JWT_REFRESH_TOKEN_SECRET=YOUR_JWT_REFRESH_TOKEN_SECRET
JWT_ACCESS_TOKEN_EXPIRATION=YOUR_JWT_ACCESS_TOKEN_EXPIRATION
JWT_REFRESH_TOKEN_EXPIRATION=YOUR_JWT_REFRESH_TOKEN_EXPIRATION

LOG_DIR=../logs